# Data manipulation and analysis
pandas==1.5.3
numpy==1.24.2

# Data visualization
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.14.0

# Machine learning and statistical modeling
scikit-learn==1.2.2
statsmodels==0.14.0
xgboost==1.7.6


# Other useful libraries
scipy==1.10.1

